
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.header {
   width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  /* bottom: 0; */
  z-index: 1000;
  background-color: rgb(236, 221, 221);
     background: linear-gradient(135deg, #f29e88, #da670f);
  box-shadow: 0 3px 15px papayawhip;
  display: flex;
  /* align-items: center; */
  /* justify-content: space-between; */
  /* flex-wrap: wrap; */
  padding: 0px 10px;
}
 .logoImage {
  /* background-image: url("../Images/LOGO-removebg-preview.png"); */
  /* background-position: left center; */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
   width: 150px;
  height: 100px;
  /* border-radius: 20%; */
  cursor: pointer;
  /* mix-blend-mode: screen; */
  /* box-shadow: 0px 0px 13px rgba(255, 68, 0, 0.189); */ 
  /* background-color: red; */
  /* background: transparent;} */
  margin-right: auto;
 }
 .toggle-button{
    position: absolute;
    top: 2.6rem;
    right:1rem;
    display: flex;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    /* background-color: red; */
}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: black;
}





.closeNav{
   position: relative;
  top: .3rem;
  right: 0rem;
  left: -2rem;
  display: flex;
  /* display: none; */
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 18px;
  transition: all  4s ease-in-out;
}
 .closeNav .bar:nth-child(1){
   transform: rotate(45deg);
  height:3px;
  width: 100%;
  /* background-color: rgb(216, 85, 85); */
  background-color: black;
}
 .closeNav .bar:nth-child(2){
   transform: rotate(-45deg);
  height:3px;
  width: 100%;
  background-color: black;
  position: absolute;
  top: -.13rem;
  left: -.1rem;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
   /* gap: 10px; */
  margin: auto;
  width: 90%;
}
.navList{
  display: flex;
  gap: 10px;
}
.navList .navMenu {
  /* background-color: red; */
  display: flex;
  gap: 20px;
  list-style: none;
  /* flex-direction: column; */
  /* justify-content: flex-start; */
  /* padding-top: 10px; */
}
.navList .navMenu .navtext {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: cursive;
  /* font-weight: light; */
  line-height: 30px;
}
.menus {
  /* padding-top: 20px; */
  /* padding-top: 10px; */
  display: flex;
  align-items: center;
  /* position: relative; */
  /* gap: 10px; */
}
.toggleNav{
  /* display: flex; */
  /* align-items:center ; */
  /* justify-content: center; */
  list-style: none;
  /* padding: 10px; */
  /* display: no?ne; */
  position: absolute;
  left: 100%;
  transform: translateX(100%);
  top: 70%;
  right: -100%;
  background-color:white;
  width: 60%;
  z-index: 999;
  transition: all 0.4s ease-in-out;
  padding: 1rem 3rem;
  /* height: 200px; */
  /* padding-left: 1rem; */
}
.toggleShow{
  position: relative;
transform: translateX(-90%);
}
.toggleNav .navtext{
  text-align: center;
  /* padding: 1rem 3rem; */
  font-size: 20px;
  margin-top: 3rem;
  text-decoration: none;
  color: black;
}
.displayFood{
    display: flex;
     /* justify-content: space-between;  */
     gap: 3rem;
    /* margin: auto; */
    /* width: 80%; */
    /* background-color: red; */
    padding: 0rem 2rem;
    margin-top:10rem;
    /* flex-wrap: wrap; */
}
.singleImg{
    border-radius: 10px;
    width:100%;
    height: 70%;
}
#watchVideo{
 background-color: #85737490;
  color: white;
  border: none;
  padding: 0.7rem 1.2rem;
  font-weight: bold;
  border-radius: 6px;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

#watchVideo:hover {
  background-color: black;
}
.watchTag{
  text-decoration: none;
}
.foodInfo{
  /* margin-top: 20px; */
}
.additionalInfo{
  border: 1px solid peru;
 margin: 10px;
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
  /* grid-column-gap: 2.4rem; */
  /* grid-row-gap: 4rem; */
  /* grid-gap: 3rem ; */
  /* position: relative; */
  padding: 1rem 2rem;
  /* z-index: 2; */
  /* position: relative; */
  /* width: 100%; */
  border-radius: 8px;
  margin-top: 30px;


}
.nutritionalInfo{
  transition: all 3s ease-in;
}
.eachIng{
  display: flex;
  /* justify-content: space-around; */
  gap: 1rem;
  /* background-color: rgba(83, 69, 83, 0.539); */
  align-items: center;
  /* padding: 10px; */
  border-radius: 10px;
  /* margin: auto; */
  /* width: 90%; */
  width: 90vw;
}
.ingredients{
  /* background-color: red; */
  padding: .5rem .9rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border-top-left-radius: 10px;
}
.ingredients:hover{
  /* background-color: #da670f; */
}
.HelathInfo{
   padding: .5rem .4rem;
  cursor: pointer;
   transition: all 0.5s ease-in-out;
  border-top-left-radius: 10px;
}
.HelathInfo:hover{
  /* background-color: #da670f; */
}
.ingredientText{
 font-size: 1.4em;
 color: white;
 font-weight: bold;
 color: black;
 position: relative;
 width: fit-content;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 /* background-color: red; */
}

.TotalNutrients{
    padding: .5rem .4rem;
  cursor: pointer;
   transition: all 0.5s ease-in-out;
  border-top-left-radius: 10px;
}
.TotalNutrients.hover{
   /* background-color: #da670f; */
}
.labelTag{
  display: flex;
  flex-wrap: wrap;
  display: inline-block;
   font-size: 0.95rem;
  gap: 10px;
}
.rating{
  margin-top: 1rem;
}
.icon{
  font-size: 1.6rem;
  color: gold;
}
.btnsss{
   background: linear-gradient(135deg, #ff7e5f, #feb47b);
  color: white;
  font-weight: 600;
  padding: 10px 16px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  /* display: inline-flex; */
  /* align-items: center; */
  gap: 8px;
  transition: all 0.7s ease, transform 0.2s ease;
  font-size: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.btnsss:hover{
    background: linear-gradient(135deg, #feb47b, #ee461d);
  transform: scale(1.03);
}





/* Footer */
.footer{
   background: linear-gradient(135deg, #ececec1d, #eceae8);
   border-radius: 10px;
  margin: auto;
  width: 90%;
  margin-top: 10rem;
}

.footerSection{
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-column-gap: 2.4rem;
  grid-row-gap: 4rem;
  padding: 3rem 3rem;
}
.footerElement{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}
.footerHeader{
  font-size: 25px;
  
}
.footerNav{
  text-decoration: none;
  font-size: 20px;
  color: black;
  padding: 10px;
}

.emmartStyle{
  /* padding: 10px; */
  font-family: cursive;
  /* text-align: right; */
}
.copy{
  padding: 10px;
  display: flex;
  /* align-items: flex-end; */
  justify-content: flex-start;
}
.logoSocial{
  display: flex;
  align-items: center;
  gap: 10px;
}
.social{
  width: 30px ;
  cursor: pointer;
  /* background-color: red; */
  /* border-radius: 10px; */
  /* background-color: transparent; */
}
.socials{
  border: 1px solid black;
  padding:10px 10px;
  border-radius: 100%;
  transition:  all 0.1s ease-in-out;

}
.socials:hover{
  box-shadow: 0px 0px 18px orangered;
}

